#body
{
	padding-top: 40px;
	background-size: cover;
	position: relative;
	background-color: rgb(191, 241, 225);
	
}		
.navbar-dark
{
    background: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: lighter;
}
.navbar-dark ul li
{
	margin:0px 5px;
}
.navbar-dark ul li:hover
{
	border-bottom: 1px solid #d9ba85;
	color: #70c76d;
}
.brandname
{
	color: #8199b9;
}
.head
{
    padding-top: 40px;
    text-align: center;
	padding: 0;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	color: #eee;
}
.head h1
{
	color: #000000;
    font-size: 60px;
}
.title
{
	color: whitesmoke;
	font-family: 'Times New Roman', Times, serif;
}
.container
{
    align-items: center;
    justify-content: center; 
    padding: 40px 40px;
	margin-top: 20px;
	background-color: #889b9c;
}
#image{
	height:15cm;
	width: 10cm;
}
#table
{
    display:block;
	padding: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(26, 24, 24);
	border-color: black;
	border-style: solid;
	background-color: #889b9c;
	
}
#table th
{
	color: #0e0f0f;
	padding-right: 10px;
}
.contain
{
    padding-top: 0px;
    margin-top: 80px;
    text-align: center;
}
.container select
{
	width: 100%;
	height:fit-content;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	border:1px solid rgba(100, 122, 163, 0.6);
	background-color: #000000;
	color:#46b0b8;
}

#btn2{
	
}